<div>					
<ul class="nav nav-pills">
  	  <li class="<%= action_active('user_profile') %>" ><a href="/user_profile">Profile</a></li>
	  <li class="<%= action_active('user_videos') %>" ><a href="/user_videos">Videos</a></li>
	  <li class="<%= action_active('user_hivecoins') %>" ><a href="/user_hivecoins">User Hive Coins</a></li>
	  <li class="<%= action_active('user_contributed_videos') %>" > <a href='/user_contributed_videos'> User Contributed Videos</a> </li>
</ul>
</div>
