<html>

<body>

<div class='row'>
	<div class='span12'>
			<%= render :partial => "search_form.html.erb", locals: {q: @q} %>
					<!-- Displaying Most Hivecoin Videos -->
			<div>
				<% if !@videos.blank?%>
					<h4> Most Hivecoins Videos </h4>
					<table>
						<tr>
					<%@videos.each do |video|%>
						<td>
					  	<% if !video.video_pic.blank? %>
			<%= link_to image_tag(video.video_pic_url, :class=>"video_pic"), video_path(video), title: "#{video.video_title}" %> 
						<% else %>
			<%= link_to image_tag('video.png', class: 'video_pic'), video_path(video), title: "#{video.video_title}" %>
						<% end %>
						</td>
					<%end%>
						</tr>
					</table>
				<%else%>
				<table> <tr> <th> No Videos to Display </th> </tr> </table>
				<%end%>
			</div>
	</div>
</div>
</body>
</html>
